{% extends 'base.html' %}

{% block content %}

<div class="container my-3">
    <h1 class="font-weight-bold">Olá, seja bem vindo!</h1>
    <p>
        A loja Senac veio para revolucionar o mercado de produtos online, aqui você encontra de tudo que precisa.

        Venha e dê uma olhada nos nossos produtos, você não irá querer parar de comprar!
    </p>
    <p>
        Projeto de loja virtual para finalização do treinamento de desenvolvimento em Python com Django.
    </p>
</div>

{% endblock content %}